#nav {
  text-align: center;
}

body {
  background-color: lightslategray;
}

h2, h3, h4 {
  color: gold;
  text-decoration: underline;
  text-decoration-color: hotpink;
}

h1 {
  color: burlywood;
}

p {
  color: greenyellow;
}

li {
  color: lightgoldenrodyellow;
}

button {
  background-color: darkgray;
}