body {
  background-image: url('https://wallpaperplay.com/walls/full/a/0/7/198394.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2, h3, h4 {
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.4px;
  -webkit-text-stroke-color: black;
  text-decoration: underline;
}

h1 {
  color: white;
  -webkit-text-stroke: 0.4px;
  -webkit-text-stroke-color: black;
}

p {
  color: rgb(0, 0, 0);
}

li {
  color: rgb(43, 43, 42);
}
