body {
  background-image: url('./disney/cloudCaste.jpg');
  
  /* background-image: url('./disney/'); */
  background-position-x: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h2, h3, h4 {
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.4px;
  -webkit-text-stroke-color: black;
}

h1 {
  color: white;
  -webkit-text-stroke: 0.4px;
  -webkit-text-stroke-color: black;
}

p {
  color: rgb(0, 0, 0);
}

li {
  color: rgb(43, 43, 42);
}
